# Project Config & secret files
config.json
certificate.json

# Virtual enviroment
venv/
env/
.env

# Python
__pycache__/

# Tests
.tox/
.pytest_cache/
.mypy_cache/

# Packaging
*.egg-info/

# Editor/IDE
.vscode/
.idea/
